<!DOCTYPE html>
<html>
<head>
    <title>Advanced Search</title>
</head>
<body>
    <h1>Advanced Search</h1>
    <form action="/advanced-search" method="post">
        <label for="keyword">Keyword:</label>
        <input type="text" name="keyword" id="keyword">
        <br>
        <label for="minPrice">Minimum Price:</label>
        <input type="number" name="minPrice" id="minPrice">
        <br>
        <label for="maxPrice">Maximum Price:</label>
        <input type="number" name="maxPrice" id="maxPrice">
        <br>
        <button type="submit">Search</button>
    </form>
  
</body>
</html>
